.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./../public/bg-minimalist.jpg');
  background-size: cover;
  background-position: center;
}

.login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  height: 100vh;
}



